@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: antiquewhite;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.motto{ 
    width: 50%;
}

.saturejka {
    width: 40%;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.mainContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.home__pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.food {
    width: 30%;
}

.container_texts {
    display: flex;
    flex-direction: row;
}

.text {
    margin: 10px;
    width: 50%;
}